
/* 
#4A4A48 dark-gray
#566246 dark-green
#A4C2A5 light-green
#D8DAD3 gray
#F1F2EB light-gray
*/

* {
  font-family: 'Trebuchet MS';
  background:#4A4A48;
  color: #F1F2EB;
  padding: 0;
  margin: 0;
}

#login-inputs-container {
  display: flex;
  flex-direction: column;
  flex-wrap: initial;
  align-items: center;
}

.login {
  margin: 10px;
  font-size: 30px;
}

header {
  padding:20px;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
}

#nav-bar button{
  font-size: 18px;
}

h1 {
  font-size: 50px;
}

h2 {
  margin:20px;
}

.button {
  border: #D8DAD3 2px solid;
  height: 50px;
  width: 100px;
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
  padding-top: 10px;
}

#accounts-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

li, li>a {
  margin:10px;
  list-style-type: none;
}

.balance-container {
  display: flex;
}

.account-number-container{
  margin:20px;
}

table {
  margin: 20px;
}

td {
  width: 300px;
  background:none;
}

.transaction:nth-child(even) {
  background: #A4C2A5;
}

.transaction:nth-child(odd) {
  background: #566246;
}

.balance{
  color: #A4C2A5;
}

#home{
  font-size: 40px;
  height:90vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#modal-container{
  height:300px;
  width:500px;
  background:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;  
  border: 3px black solid;
  border-radius: 20px;
  position:fixed;
  z-index: 1;
}

#modal-container h3, #modal-container p, #modal-container button{
  color:black;
  background:white;
} 

#modal-title{
  display: flex;
}

#modal-container button{
  border:3px solid black;
  height:50px;
  font-size: 30px;
}
